.flex-container{
    height: 100px;
    align-content:flex-end ;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.item1{
    display: flex;
    align-items: center;
}
